<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Личный кабинет</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styledash.css') }}">
</head>
<body>

  <div class="sidebar">
    <h2><a href="#" onclick="showSection('files')" data-lang="my_files">Ваши файлы</a></h2>
    <h2><a href="#" onclick="showSection('trash')" data-lang="trash">Корзина</a></h2>
  </div>
  <div class="main">
    <div class="top-nav">
      <div class="account-icon">👤 {{ user_name }}</div>
      <select id="langSelect">
        <option value="ru">🇷🇺 Русский</option>
        <option value="en">🇬🇧 English</option>
      </select>
    </div>
    <div class="content">
      <h1 data-lang="welcome_dashboard">Добро пожаловать в ваш кабинет!</h1>
      <div class="upload-section">
        <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" name="file" id="fileInput" required>
          <button type="submit" data-lang="upload_file">Добавить файл</button>
          <div class="progress-container">
            <div class="progress-bar">
              <div class="progress-fill"></div>
            </div>
            <p class="progress-text">0%</p>
          </div>
        </form>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash-messages success">
            {% for category, message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <div class="file-list" id="sectionContent">
        Download...
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>